@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

:root {
    --rsbs-bg: rgb(31, 34, 51);
    --rsbs-handle-bg: rgb(255, 207, 134)
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* shadow */
.custom-shadow{
    box-shadow: 10 0 0 16%;
}

/* content */
.content {
    width: 100% !important;
    clear: both !important;
}

.content pre{
    width: 100% !important;
    padding: 10px 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    font-size: 87.5%;
    color: #ffcf86;
}

.content pre br{
    width: 100%;
}

@media (min-width: 360px) {
    .content img {
        max-width: 100%;
    }

    .content h4 {
        font-size: 24px;
        font-weight: 400;
        padding: 20px 0;
    }

    .content p {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .content ul li a {
        padding: 0 2px;
        font-weight: 600;
    }

    .content ol {
        padding-inline-start: 24px;
    }
    
    .content ul {
        padding-inline-start: 24px;
    }

    .content img {
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 40px; 
    }
}

@media (min-width: 1536px) {
    .content h4 {
        font-size: 30px;
        font-weight: 700;
        padding: 20px 0;
    }   

    .content img {
        max-width: 50%;
        margin: 0 auto;
        padding: 40px 0;
    }

    .content ol li {
        padding: 8px 0;
    }

    .content ul li a {
        padding: 0 1rem;
        font-weight: 600;
    }

    .content ol {
        padding-inline-start: 40px;
    }
    
    .content ul {
        padding-inline-start: 40px;
    }
}

.content ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content a {
    color: #ffcf86;
}

.content p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
}

.content ul li {
    margin-bottom: -1px;
    padding: 8px 0;
    display: inline-flex;
}

/* Contact */
input[type="text"]:focus ~ .input-text,
textarea[typeof="text"]:focus ~ .input-text,
input[type="email"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text,
textarea[typeof="text"]:not(:placeholder-shown) ~ .input-text,
input[type="email"]:not(:placeholder-shown) ~ .input-text{
  @apply text-secondary transform -mt-0.5 -translate-y-5 -translate-x-2;
}